$primary: #7cc576;


$small-font: 0.75rem;
$medium-font: 1.15rem;
$large-font: 1.5rem;


$light-gray: #5a6371;







$church-color: #f54245;
$kebab-color: #d17104;
$pizza-color: #910022;
$sushi-color: #44c20a;
$hotel-color: #731973;
$monument-color: #8f8f8f;
$restaurant-color: #f0f005;
$bar-color: #4d0029;