.leaflet-popup {
    margin-bottom: -20px !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    
    color: #333;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);

}

.leaflet-popup-content {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    // background: rgba(255, 255, 255,0.7);
}

.leaflet-popup-tip {
    // background: black;
}

.leaflet-pane leaflet-popup-pane {

}