.places-info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  
}

.places-info__element {
    margin:15px;
 
}

.places-info__box {
    color: #99a1ab;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), 0 1px 5px 0 rgba(0,0,0,0.04);
    // background-color: red;
    font-size: $small-font;
    display: flex;
    justify-content: space-between;
}


.places-info__name {
    color: #5a6371;;
    font-size:  $large-font;
}

.places-info__search-bar {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    height: 1000px;
    font-size: 2rem;
    overflow: auto;
    height: 90vh;
}

.places-info__map {
    grid-column: 3/9;
    
}


.search-map { 
    height: 100%;
    width: 100%;
}
