.navbar {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.04); }

.leaflet-control-attribution .leaflet-control {
  z-index: 100; }

html {
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%; }

main {
  min-height: 1500px; }

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.loading {
  margin: 0px auto;
  border-radius: 50%;
  border: 4px solid  #f1f1f1;
  border-top: 4px solid #7cc576;
  width: 50px;
  height: 50px;
  animation: 1.64s loading infinite linear;
  transform: translate(-50%, -50%); }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.button {
  padding: 15px 30px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 20px auto; }

button, .button:link, .button:visited {
  background-color: #7cc576;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  letter-spacing: .1em;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  transition-property: transform;
  transform: translateZ(0);
  transition: box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36); }
  button:hover, .button:link:hover, .button:visited:hover {
    box-shadow: 0 0 0 28px rgba(0, 0, 0, 0.25) inset; }
  button:active, .button:link:active, .button:visited:active {
    transform: translateY(3px); }

.button--prev {
  grid-column: 1/3; }

.button--next {
  grid-column: 3/5; }

.category__button {
  background-color: #7cc576;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;
  font-weight: 600;
  line-height: 42px;
  font-size: 14px;
  height: 42px;
  padding: 0 22px; }

.category__list {
  display: flex;
  list-style-type: none; }
  .category__list-item {
    padding-left: 10px; }

.places-info {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .places-info__search-bar {
    grid-column: 1 / 3;
    grid-row: 1 / 7;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    overflow: hidden; }
  .places-info__button-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / 3;
    grid-row: 7; }
  .places-info__element {
    margin: 15px; }
  .places-info__line {
    width: 2px;
    height: 100%; }
  .places-info__box {
    color: #99a1ab;
    height: 80px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between; }
    .places-info__box--active {
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05), 0 10px 10px 0 rgba(0, 0, 0, 0.04); }
    .places-info__box-restauracja .places-info__line {
      background-color: #f0f005; }
    .places-info__box-kebab .places-info__line {
      background-color: #f54245; }
    .places-info__box-sushi .places-info__line {
      background-color: #44c20a; }
    .places-info__box-pizza .places-info__line {
      background-color: #910022; }
    .places-info__box-kosciol .places-info__line {
      background-color: #f54245; }
    .places-info__box-hotel .places-info__line {
      background-color: #731973; }
    .places-info__box-pomnik .places-info__line {
      background-color: #8f8f8f; }
    .places-info__box-bar .places-info__line {
      background-color: #4d0029; }
  .places-info__title {
    padding: 10px;
    max-width: 95%; }
  .places-info__map {
    position: relative;
    grid-column: 3/9;
    grid-row: 1/8; }
  .places-info__name {
    color: #5a6371;
    font-size: 1.15rem; }

.search-map {
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr); }

.category__list-item {
  cursor: pointer;
  justify-content: center;
  padding: 25px;
  display: flex;
  font-size: 13px;
  flex-direction: column;
  align-items: center; }
  .category__list-item:hover .fas {
    top: 5px; }

.category__icon {
  color: white; }

.category__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px; }
  .category__icon-wrapper--restauracje {
    background-color: #f0f005; }
  .category__icon-wrapper--pizza {
    background-color: #910022; }
  .category__icon-wrapper--sushi {
    background-color: #44c20a; }
  .category__icon-wrapper--kebab {
    background-color: #d17104; }
  .category__icon-wrapper--koscioly {
    background-color: #f54245; }
  .category__icon-wrapper--hotele {
    background-color: #731973; }
  .category__icon-wrapper--pomnik {
    background-color: #8f8f8f; }

.leaflet-popup {
  margin-bottom: -20px !important; }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

.leaflet-popup-content {
  font-family: 'Lato', sans-serif;
  font-size: 13px; }

.slideshowContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  border-top: 2px solid black;
  border-bottom: 2px solid black; }

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1; }

.slider-header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  z-index: 1;
  max-width: 520px;
  font-size: 45px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Montserrat', extra-bold; }

.slider-header {
  margin-top: 100px; }

.slider-label {
  font-size: 25px;
  margin: 0 auto; }

.slideshowContainer_overlay {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100%;
  width: 100%; }

.visible-slider {
  opacity: 1; }

.slideshowArrow {
  font-size: 7em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out; }

.slideshowArrow:hover {
  opacity: 0.75; }

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%); }

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%); }

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out; }

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5); }

.navbar {
  display: flex;
  padding: 0;
  height: 7vh;
  font-weight: bold; }
  .navbar__menu {
    display: block;
    list-style-type: none;
    padding-right: 150px; }
  .navbar__logo {
    display: flex;
    flex-direction: inherit;
    position: relative;
    flex: 1;
    list-style-type: none;
    padding-left: 150px; }
    .navbar__logo-box {
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      transition-duration: 0.25s; }
      .navbar__logo-box:hover {
        padding-left: 12px; }
    .navbar__logo-name {
      font-size: 21px; }
  .navbar__menu ul {
    display: inline-block;
    list-style-type: none; }
  .navbar__menu ul li {
    display: inline-block;
    list-style-type: none;
    padding-top: 20px; }
  .navbar__item, .navbar__item--active {
    width: 50px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 14px;
    color: #777777;
    text-transform: uppercase;
    position: relative; }
  .navbar__logo-img {
    height: 35px;
    width: 35px; }
  .navbar__item:hover {
    color: #7cc576; }
  .navbar__item--active {
    color: #7cc576; }

.main-logo {
  fill: "#777777"; }

.fixed-nav {
  z-index: 2;
  width: 100%;
  background-color: white;
  padding: 0;
  position: fixed; }

.hamburger {
  width: 100%;
  cursor: pointer;
  display: none; }
  .hamburger__icon {
    height: 70px;
    width: 70px;
    margin: 0; }

.category {
  height: 10vh; }

.geoportal-footer {
  display: flex;
  flex-direction: inherit;
  justify-content: flex-end;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  height: 3vh; }
  .geoportal-footer p {
    padding: 5px 25px 0 25px; }
  .geoportal-footer--bluetag {
    color: #0078A8; }

.mymap {
  height: 90vh;
  width: 100%;
  outline: none;
  touch-action: none;
  background-color: #445a71;
  position: relative; }

#current_center {
  position: absolute;
  margin-top: 800px;
  margin-left: 180vh;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  min-height: 25px;
  min-width: 20px; }

.display {
  display: none !important; }

.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  right: 0;
  margin: 130px 15px 0 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  min-height: 150px; }
  .overlay__header {
    padding-bottom: 15px; }
    .overlay__header--small {
      margin: 5px 0 5px 0; }
  .overlay__label {
    font-size: 15px; }
  .overlay__marker-checkbox {
    margin-right: 10px; }

.leaflet-popup-content-wrapper {
  display: flex; }

.slide-in__slider {
  position: absolute;
  width: 250px;
  height: 90vh;
  z-index: 1000;
  float: left;
  background: rgba(255, 255, 255, 0.9);
  border-top: solid black;
  border-bottom: solid black;
  margin-left: -250px;
  transition: 0.5s; }

.slide-in__toggle-button {
  position: relative;
  left: 250px;
  top: 0px;
  background: rgba(255, 255, 255, 0.9);
  width: 30px;
  height: 50px;
  z-index: 1000;
  font-size: 75px; }

.slide-in__toggle--arrow {
  position: absolute;
  left: 6px;
  top: 15px;
  width: 22px; }

.slide-in__header {
  padding: 25px;
  font-size: 25px; }

.slide-in__search-input {
  margin-top: 25px;
  margin-left: 25px;
  outline: none;
  padding: 10px; }
  .slide-in__search-input:focus {
    outline: none; }
  .slide-in__search-input::placeholder {
    opacity: 0.5; }

.slide-in__label {
  font-size: 15px;
  margin-left: 25px; }

.slide-in__click-box {
  padding: 25px;
  font-size: 20px; }

.slide-in__image-box img {
  width: 100%;
  height: 150px; }

.visible {
  margin-left: 0px; }

.widget {
  background-color: white;
  position: absolute;
  height: 26rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05), 0 10px 10px 0 rgba(0, 0, 0, 0.04);
  width: 20rem;
  z-index: 999;
  right: 0;
  bottom: 0; }
  .widget__name {
    padding-top: 15px;
    font-size: 1.5rem;
    color: #5a6371; }
  .widget__image-box {
    border-radius: 25px;
    width: 100%;
    height: 150px; }
    .widget__image-box img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
